{% extends "header.html" %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Einem Jam beitreten</h1>
    <form method="POST" action="/join">
        {% csrf_token %}
        <div class="mb-3">
            <label for="jam_code" class="form-label">Jam-Code eingeben:</label>
            <input type="text" id="jam_code" name="jam_code" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Beitreten</button>
    </form>
</div>
{% endblock %}